{
  "presets": [
    [
      "@babel/preset-env", // пресет который установили с помощью npm
      {
        "targets": {
          "chrome": "72" // bebel транслирует код именно в эту версию Chrome
        }, // необходимо для корректной работы unit-testов
      }
    ]
  ],
  "plugins": []
}
